// Place all the styles related to the Topics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.topic {
  text-align: center;
}

.content-container {
  margin: 0 auto;
  background-color: #eaeaea;
  border: 1px solid black;
  text-align: left;
  max-width: 75%;
  border-radius: 6px;
  min-height: 5em;
}

.content {
  margin: 8px 15px;
}

.topic-muscleups {
  margin: 0 auto;
  text-align: center;
  max-width: 75px;
}

.mu-button {
  margin-top: 10px;
}

.mu-show {
  margin-top: 10px;
}

.topic-comments {
  text-align: center;
}

.topic-c {
  margin-top: 30px;
}

.topic-content {

}

.topic-muscleups-title {
  text-align: center;
}

.topic-content-title {
  text-align: center;
  width: 75%;
}

.topic-comments-title {
  text-align: center;
}